@model HansOrtizExamenProgreso1.Models.HO_Producto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HO_Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HO_ProductoName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HO_ProductoName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HO_ProductoDescripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HO_ProductoDescripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HO_Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HO_Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HO_Variantes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HO_Variantes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HO_CreateAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HO_CreateAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.HO_ProductoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
