@model IEnumerable<HansOrtizExamenProgreso1.Models.HO_Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HO_ProductoName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HO_ProductoDescripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HO_Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HO_Variantes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HO_CreateAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HO_ProductoName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HO_ProductoDescripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HO_Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HO_Variantes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HO_CreateAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HO_ProductoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HO_ProductoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HO_ProductoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
